
.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 3.4em;
	height: 2.4em;
	/*background-image: url('/images/bird.png');*/
	overflow: hidden;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0, 0, 0);
}

.anim {
	position: absolute;
	width: 10.2em;
	height: 2.4em;
	background-image: url('/images/bird.png');
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: fly 0.3s infinite steps(3);
}

/* Makes the bird's wing flap - HARDWARE ACCELERATED */
@-webkit-keyframes fly {
	from { -webkit-transform: translate3d(0px, 0, 0); }
    to { -webkit-transform: translate3d(-102px, 0, 0); } 
}



.PipeLower {
	/*Each pipe is 70px wide and 576px height */
	/*top: 35em;*/
	width: 7em;
	position: absolute;
	width: 7em;
	height: 57.6em;
	background-position: 0;
	background-image: url('/images/pipeslarge.png');
	-webkit-transform: translate3d(0,0,0);
}

.PipeUpper {
	/*Each pipe is 70px wide and 576px height */
	/*bottom: 35em;*/
	width: 7em;
	position: absolute;
	width: 7em;
	height: 57.6em;
	background-position: -7em;
	background-image: url('/images/pipeslarge.png');
	-webkit-transform: translate3d(0,0,0);
}

.PipePair div {
	/*left: 40em;*/
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: pipes 9s linear;
}

@-webkit-keyframes pipes {
	from {
		-webkit-transform: translate3d(102.4em,0,0);
	}
	to {
		-webkit-transform: translate3d(-10em,0,0);
	}
}

/*.Ground {
	top: 550px;
	width: 13em + 102,4em;
	height: 2.9em;
	position: relative;
	background: url('/images/groundSmall.png') repeat-x; this pic is 130px wid and 29px
	-webkit-animation: ground 2s infinite linear;
}*/

/* Makes the ground move to left */
/*@-webkit-keyframes ground {
    from { background-position:  2em; }
    to { background-position:  -13em; }
}*/

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	transform: translateZ(0);
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
	transform: translateZ(0);
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
	transform: translateZ(0);
}
.Scoreboard-restartText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: white;
}
body {
	background: black;
}
.browsehappy {
	margin: 0.2em 0;
	background: ?#?ccc?;
	color: #000;
	padding: 0.2em 0;
}
.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
	background-image: url('/images/cloud.jpg');
}

.Background-image {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
	transform: translate3d (0,0,0);
	background-image: url('http://pivotnetworks.wpengine.netdna-cdn.com/wp-content/uploads/cloud-computing-solutions.jpg');
}

/* Makes the ground move from right to left - HARDWARE ACCELERATED*/
@-webkit-keyframes move {
    from {
        -webkit-transform: translate3d(0,0,0);
    }
    to { 
        -webkit-transform: translate3d(-100em,0,0);
    }
}

/*.Ground {
	top: 550px;
	width: 13em + 102,4em;
	height: 2.9em;
	position: relative;
	background: url('/images/groundSmall.png') repeat-x; this pic is 130px wid and 29px
	-webkit-animation: ground 2s infinite linear;
}*/
.Foreground-image {
	position: absolute;
	top: 95%;
	width: 200em;
	height: 3em;
	/*background-image: url('/images/ground.png');*/
	background-image: url('/images/groundSmall.png');
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: move 8s infinite linear;

	/*background-image: url('http://www.smashingbuzz.com/wp-content/uploads/2014/03/10.jpg');*/
}

.Welcome {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: red;
	text-align: center;
	transform: translateZ(0);
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}
.Welcome.is-visible {
	-webkit-transform: none;
	transform: translateZ(0);
	border-radius: 40%;
}

.Welcome-play {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
	transform: translateZ(0);
}

.Welcome-playText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: white;
}

.Welcome-hello {
	position: absolute;
	font-family: 'Comic Sans MS', serif;
	font-size: 2.5em;
	color: white;
	margin-top: 3em;
	margin-right: 5em;
}
